<i class="m-icons-round">article</i>

<i class="m-icons-round text-3xl text-red-500">build</i>
<i class="m-icons-round text-4xl text-yellow-500">done</i>
<i class="m-icons-round text-5xl text-green-500">grade</i>
<i class="m-icons-round text-6xl shadow">alarm</i>
